html, body { height: 100%; padding: 0; margin: 0; }

body {
  display: flex;
  flex-direction: column;
}

#header {
  flex: 2em 0 0;
}

#main {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

#editor-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

#editor {
  flex: 1 1 0;
}

#result {
  flex: 1 1 0;
  overflow-y: scroll;
}
