html, body { height: 100%; padding: 0; margin: 0; }

body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1280px) {
  body.split header {
    padding: 0.5rem 1rem;
  }

  body.split header h1 {
    margin: 0;
    display: flex;
    align-items: center;
  }

  body.split header h1::after {
    content: '☰';
    margin-left: auto;
  }

  body.split main {
    display: block;
    position: relative;
  }

  body.split nav a {
    padding: 0.66rem 0;
  }

  body.split article {
    margin-left: 0;
    border-left: 0;
    padding: 1rem;
  }
}

#header {
  flex: 1rem 0 0;
  padding: 0 1em;
}

a.collapse {
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
}

.greyed {
  color: rgba(0, 0, 0, 0.3);
}

#header h1 {
  font-size: 1rem;
}

#main {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

body a.collapse {
  color: transparent;
  position: relative;
  width: 3rem;
  font-size: 1.5rem;
}
body a.collapse::before {
  transition: left 0.5s;
  content: '📝';
  color: black;
  position: absolute;
  top: 0.2rem;
  left: 0.5rem;
}
body a.collapse::after {
  transition: left 0.5s;
  content: '📔';
  color: black;
  position: absolute;
  top: 0.2rem;
  left: 0.8rem;
}

body.split a.collapse::before {
  left: 0rem;
}
body.split a.collapse::after {
  left: 1.5rem;
}

body.expanded a.collapse::before {
  left: 0.5rem;
  z-index: 1;
}
body.expanded a.collapse::after {
  left: 0.8rem;
}

a.collapse {
  transform-origin: 30%;
  transition: transform .5s;
}

body.split #editor-pane,
body.expanded #editor-pane {
  flex-grow: 1;
}
body.expanded #result {
  flex-grow: 0.00001;
}

#editor-pane {
  flex: 0.00001 1 0;
  display: flex;
  flex-direction: column;
}
#editor-pane.loaded {
  transition: flex .5s;
}

#editor {
  flex: 1 1 0;
}

#result {
  flex: 1 1 0;
  transition: flex .5s;
  overflow-y: scroll;
}
