html, body { height: 100%; padding: 0; margin: 0; }

body {
  display: flex;
  flex-direction: column;
}

#header {
  flex: 1rem 0 0;
  padding: 0 1em;
}

a.collapse {
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
}

.greyed {
  color: rgba(0, 0, 0, 0.3);
}

#header h1 {
  font-size: 1rem;
}

#main {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

body a.collapse {
  color: transparent;
  position: relative;
  width: 3rem;
  font-size: 1.5rem;
}
body a.collapse::before {
  transition: left 0.5s;
  content: '📝';
  color: black;
  position: absolute;
  top: 0.2rem;
  left: 0rem;
}
body a.collapse::after {
  transition: left 0.5s;
  content: '📔';
  color: black;
  position: absolute;
  top: 0.2rem;
  left: 1.5rem;
}

body.collapsed a.collapse::before {
  left: 0.5rem;
}
body.collapsed a.collapse::after {
  left: 0.8rem;
}

body.expanded a.collapse::before {
  left: 0.5rem;
  z-index: 1;
}
body.expanded a.collapse::after {
  left: 0.8rem;
}

a.collapse {
  transform-origin: 30%;
  transition: transform .5s;
}

body.collapsed #editor-pane {
  flex-grow: 0.00001;
}
body.expanded #result {
  flex-grow: 0.00001;
}

#editor-pane {
  flex: 1 1 0;
  transition: flex .5s;
  display: flex;
  flex-direction: column;
}

#editor {
  flex: 1 1 0;
}

#result {
  flex: 1 1 0;
  transition: flex .5s;
  overflow-y: scroll;
}
